@import '../../../index.scss';
@import '../../../colors.scss';
.GITouch-btn {
  background-color: transparent;
  border-radius: 5px;
  color: $black;
  border: 1px solid $black;
  padding: 10px;
  font-size: 1.2rem;
  font-family: 'Source Sans', sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $blue;
    color: $white;
  }
  @media (max-width: 768px) {
    padding: 10px 15px;
    font-size: 1rem;
  }
  @media (max-width: 576px) {
    padding: 10px 10px;
    font-size: 0.8rem;
  }
}
