@import '../../index.scss';
@import '../../colors.scss';
.ps-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}
.ps-h-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 0 20px;
}
.ps-h-subtitle {
  color: $lightgray;
}
.ps-h-title {
  color: $black;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  font-size: 32px;
  letter-spacing: 0.5px;
}
.ps-h-content {
  font-family: 'Source Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.75px;
}
.ps-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

  margin: 20px 0;
}
