@import '../../colors.scss';
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 82vh;
  overflow: hidden;
  background: linear-gradient(to bottom right, $blue 55%, $white);
  @media (max-width: 1513px) {
    flex-direction: column;
  }
}
