@import '../../index.scss';
@import '../../colors.scss';
.hc-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
  @media (max-width: 1513px) {
    width: 100%;
    margin-top: 20px;
  }
}
.hc-card {
  width: 75%;
  // min-height: 400px;
  border: solid 3px grey;
  padding: 25px 20px 25px 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: whitesmoke;
  // @media (max-width: 1513px) {
  //   height: auto;
  // }
}
.hc-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}
.hc-subtitle {
  font-family: 'Source Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
}
.hc-text {
  font-family: 'Source Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}
.hc-btn-container {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
