@import '../../../index.scss';
@import '../../../colors.scss';
.resume-btn {
  background-color: $red;
  border-radius: 5px;
  color: $yellow;
  border: 1px solid #000;
  padding: 10px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    // background-color: $blue;
    color: $yellow;
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    padding: 10px 15px;
  }
  @media (max-width: 576px) {
    padding: 10px 10px;
  }
}
