@import '../../index.scss';
@import '../../colors.scss';

.gh-banner-home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 0 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.5s ease;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &:hover {
    background-color: $red;
  }
}

.gh-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  max-width: 1280px;
  width: 90vw;
}

.gh-b-title,
.gh-b-subtitle {
  color: $white;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin: 10px 0;
  letter-spacing: 0.5px;
  text-align: center;
  @media (max-width: 754px) {
    width: 100%;
    text-align: start;
    font-size: 26px;
  }
}

a {
  text-decoration: none;
}
